Repository Kae134/Aittention, pull requests merged in 2025-05, with the labels that each got.

#41 Folder back-end and Endpoint upload
  backend/.env.exemple
  backend/.gitignore
  backend/Dockerfile
  backend/ai/readme.md
  backend/app/api/v1/api.py
  backend/app/api/v1/deps.py
  backend/app/api/v1/endpoints/analyze.py
  backend/app/core/config.py
  backend/app/core/security.py
  backend/app/core/storage.py
  backend/app/db/init_db.py
  backend/app/main.py
  backend/app/models/result.py
  backend/app/schemas/analyze.py
  backend/app/services/inference.py
  backend/app/utils/image.py
  backend/docker-compose.yml
  backend/main.py
  backend/nginx/default.conf
  backend/pytest.ini
  backend/readme.md
  backend/requirements.txt
  backend/tests/test_image.py
  backend/tests/test_image_upload.py
Labels: documentation, enhancement, Backend

#45 Added Sum ai into Main
  backend/.gitignore
  backend/ai/LICENSE
  backend/ai/README.md
  backend/ai/inference.py
  backend/ai/main.py
  backend/ai/net/__init__.py
  backend/ai/net/__pycache__/__init__.cpython-310.pyc
  backend/ai/net/__pycache__/inference_utils.cpython-310.pyc
  backend/ai/net/__pycache__/utils.cpython-310.pyc
  backend/ai/net/configs/__pycache__/config_setting.cpython-310.pyc
  backend/ai/net/configs/config_setting.py
  backend/ai/net/inference_utils.py
  backend/ai/net/models/SUM.py
  backend/ai/net/models/__pycache__/SUM.cpython-310.pyc
  backend/ai/net/models/__pycache__/vmamba.cpython-310.pyc
  backend/ai/net/models/vmamba.py
  backend/ai/net/pre_trained_weights/Readme.md
  backend/ai/net/utils.py
  backend/ai/optuna_network.py
  backend/ai/pyproject.toml
  backend/ai/readme.md
  backend/ai/requirements.txt
  backend/ai/test_model.py
  backend/ai/train.py
  backend/ai/train_colab.py
  backend/ai/utils/data_process_uni.py
  backend/ai/utils/loss_function.py
  backend/ai/validation.py
Labels: Backend

#48 Add endpoint for auth + user models + init_db
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/auth.py
  backend/app/core/storage_auth.py
  backend/app/db/init_db.py
  backend/app/models/user.py
  backend/requirements.txt
Labels: enhancement, Backend, QA

#49 fresh ui theme
  frontend/app/(home)/layout.tsx
  frontend/app/(home)/mvp/Dropzone.tsx
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/components/layouts/home-navbar.tsx
  frontend/components/layouts/navbar.tsx
  frontend/components/theme/theme-toggle.tsx
  frontend/components/ui/particles-background.tsx
  frontend/package.json
  frontend/pnpm-lock.yaml
Labels: Frontend

#50 Improve UI style
  frontend/.gitignore
  frontend/app/(home)/mvp/upload-form.tsx
  frontend/components/layouts/home-navbar.tsx
  frontend/components/ui/animated-heatmap-logo.tsx
  frontend/package.json
  frontend/pnpm-lock.yaml
  pnpm-lock.yaml
Labels: Frontend

#55 ✨ Refactor Dropzone component: streamline styles, enhance drag-and-dr…
  frontend/app/(home)/mvp/Dropzone.tsx
Labels: Frontend

#61 Fix cors
  backend/app/api/v1/endpoints/HelloWorld.py
  backend/app/api/v1/endpoints/images.py
Labels: bug, Backend

#62 e2e - sign up workflow - language consitancy - UI improvement
  backend/readme.md
  frontend/.env.example
  frontend/app/(auth)/sign-in/page.tsx
  frontend/app/(auth)/sign-in/sign-in-form.tsx
  frontend/app/(auth)/sign-in/sign-in.action.ts
  frontend/app/(auth)/sign-up/page.tsx
  frontend/app/(auth)/sign-up/sign-up-form.tsx
  frontend/app/(auth)/sign-up/sign-up.action.ts
  frontend/app/(home)/layout.tsx
  frontend/app/(home)/mvp/Dropzone.tsx
  frontend/app/(home)/mvp/page.tsx
  frontend/app/(home)/mvp/result/page.tsx
  frontend/app/(home)/mvp/upload-form.tsx
  frontend/app/(home)/mvp/upload.action.ts
  frontend/app/(home)/page.tsx
  frontend/app/error.tsx
  frontend/app/not-found.tsx
  frontend/components/home/home-hero.tsx
  frontend/components/layouts/home-navbar.tsx
  frontend/components/shadcn-ui/form.tsx
  frontend/components/ui/animated-form-message.tsx
  frontend/components/ui/animated-heatmap-logo.tsx
  frontend/components/ui/home-headband.tsx
  frontend/components/ui/particles-background.tsx
  frontend/components/ui/repo-stars.tsx
  frontend/e2e/example.spec.ts
  frontend/e2e/login.spec.ts
  frontend/hooks/use-auth.ts
  frontend/hooks/use-get-hello-world.ts
  frontend/hooks/use-repo-stars.ts
  frontend/hooks/use-upload.ts
  frontend/lib/upfetch.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/schemas/auth-schema.ts
  frontend/stores/upload-store.ts
Labels: Frontend

#67 Cdn google cloud storage
  backend/.env.exemple
  backend/Dockerfile
  backend/app/api/v1/endpoints/images.py
  backend/app/core/gcs_storage.py
  backend/app/core/storage.py
  backend/app/models/result.py
  backend/docker-compose.yml
  backend/requirements.txt
Labels: Backend, Infrastructure

#68 terraform config for spacelift on the fonctional branch
  backend/.gitignore
  backend/app/infra/main.tf
  backend/app/infra/provider.tf
  backend/app/infra/terraform.tfvars.exemple
  backend/app/infra/variables.tf
Labels: Backend, Infrastructure
